.clearfix{
  margin-top: 65px;
  margin margin-bottom: 100px;
}
.font{
    font-family: sans-serif;

}
.clear{
  margin-top: 35px;
  margin margin-bottom:75px;
}
.background{
  background-color: #F261FF;
  opacity:0.8 ;
}